
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #2c3e50;
}
main {
    margin-left: 5rem;
    padding: 1rem;
  }

.box{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:#000000;
    text-align: center;
    border-radius: 10%;
}

.box h1{
    color:white;
    text-transform: uppercase;
    font-weight: 500;
}


.box input[type= "text"],.box input[type = "password"],.box input[type = "email"]{
    border: 0;
    background: none;
    display: block;
    margin:  20px auto;
    text-align: center;
    border: 2px solid #321421;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type= "text"]:focus,.box input[type = "password"]:focus,.box input[type = "email"]:focus{
    width: 80%;
    border-color: rgb(238, 255, 0);
}
.box input[type= "submit"]{
    border: 0;
    background: none;
    display: block;
    margin:  20px auto;
    text-align: center;
    border: 2px solid #30ac25;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.form-check{
    color: white;
}
.box input[type= "button"]{
    border: 0;
    background: none;
    display: block;
    margin:  20px auto;
    text-align: center;
    border: 2px solid #7c0c3c;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background: #30ac25;
}
.box input[type = "button"]:hover{
    background: #7c0c3c;
}



